@import './navigation.css';

/* Mobile first... */
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #00796b;
}

main {
  padding: 3rem 2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
}

.page-title {
  text-align: center;
  background: #004d40;
  color: #ef6c00;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border: solid 1px #f4f4f4;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.6);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(
    0deg,
    #0d0860 0%,
    #090979 21%,
    #0654aa 51%,
    #00ff71 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}

/* Knappars utseende */
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 2rem 0;
}

.btn {
  display: inline-block;
  margin: 0.3rem 0;
  color: #f4f4f4;
  background: #212121;
  border: solid 1px #ef6c00;
  line-height: 1.2;
  width: 60%;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.65rem 1.25rem;
  outline: none !important;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: #ef6c00;
  border: solid 1px #212121;
}

/* Form utseende... */
form {
  padding: 2rem 0;
}

form .form-controls {
  margin-bottom: 0.6rem;
}

form .form-controls label {
  display: block;
  color: #f4f4f4;
}

form .form-controls input,
form .form-controls textarea {
  width: 100%;
  padding: 0.4rem;
  border: solid 1px #ddd;
  outline: none !important;
}

form .form-controls textarea {
  height: 10rem;
}

form .form-controls input:focus,
form .form-controls textarea:focus {
  border: solid 1px #ef6c00;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .flex-container h1 {
    font-size: 5rem;
  }
}
