/* Create the basic menu for mobile first... */
header {
  position: sticky;
  top: 0;
  left: 0;
  background: #004d40;
  opacity: 0.9;
}

nav {
  padding: 0 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li.logo {
  font-size: 1.4rem;
}

nav ul li.logo a {
  color: #40f0f6;
}

nav ul li.toggle {
  order: 1;
}

nav ul li.menu-item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}

nav ul li a {
  display: block;
  padding: 0.4rem;
  color: #f4f4f4;
}

nav ul li a:hover,
nav ul li a.active {
  color: #ef6c00;
}

/* How to display the dropdown menu... */
nav ul:has(li .menu-btn:checked) .menu-item {
  display: block;
}

/* Create the hamburger menu... */
nav ul li .menu-btn {
  display: none;
}

nav ul li .menu-icon {
  padding: 28px 20px;
  cursor: pointer;
}

nav ul li .menu-icon .nav-icon {
  background: #f4f4f4;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background-color 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before,
nav ul li .menu-icon .nav-icon:after {
  background-color: #f4f4f4;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before {
  top: -5px;
}

nav ul li .menu-icon .nav-icon:after {
  top: 5px;
}

/* Animate the hamburger menu... */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

/* Rotate the first line... */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

/* Rotate the last line... */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  nav ul {
    flex-wrap: nowrap;
  }

  nav ul li.menu-item {
    display: block;
    width: auto;
  }

  nav ul li.logo {
    flex-grow: 1;
  }

  nav ul li.toggle {
    display: none;
  }
}
