.page-title {
  border: solid 1px var(--text-color);
  margin-bottom: 2rem;
  text-align: center;
  padding: 0.5rem 0;
  background: var(--secondary-color);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}
