.btn {
  display: inline-block;
  font-size: 0.9rem;
  color: #fff;
  background: #7b1fa2;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  border: solid 1px #f4f4f4;
  outline: none !important;
  cursor: pointer;
}

.btn-rounded {
  border-radius: 25px;
}

.btn:hover {
  opacity: 0.7;
}

.pagination-btn {
  cursor: pointer;
}
