<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css">
    <title>Westcoast Cars</title>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <ul class="menu">
                    <li class="logo">
                        <img src="/images/dotnet-logo-small.png" alt="dotNet">
                        <a href="/"> Westcoast Cars </a>
                    </li>
                    <li class="toggle">
                        <input class="menu-btn" type="checkbox" id="menu-btn" />
                        <label class="menu-icon" for="menu-btn">
                            <span class="nav-icon"></span>
                        </label>
                    </li>
                    <li class="menu-item">
                        <a href="/home"> Start </a>
                    </li>
                    <li class="menu-item">
                        <a href="/gallery">Våra bilar</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about">Om Oss</a>
                    </li>
                    <li class="menu-item">
                        <a href="/contact">Kontakta Oss</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
</body>

</html>
