@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary-color: #1e1e1e;
  --secondary-color: #ac99ea;
  --text-color: #383642;
  --secondary-text-color: #61c2db;
  --dark-color: #000;
  --light-color: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: 'Raleway';
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
}

main {
  padding: 3rem 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
}

.page-title {
  text-align: center;
  border: solid 1px #61c2db;
  background: var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.6);
}

.landing {
  background-color: var(--dark-color);
  max-width: 600px;
  margin: 8rem auto;
  padding: 2rem;
  border-radius: 25%;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.6);
}

.landing img {
  width: 100%;
}

.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--dark-color);
}

.home-page section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page section h1 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(45deg, #f9096d, #b700ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-page section img {
  width: 300px;
}

/* Gallery... */
.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--light-color);
  padding: 1rem;
  border-radius: 1rem;
  background: var(--secondary-color);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  border: solid 1px var(--light-color);
  background: var(--dark-color);
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.card div {
  text-align: center;
  padding-bottom: 0.3rem;
}

/* Vehicle details... */
.vehicle-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid 1px var(--light-color);
  background: var(--secondary-color);
  padding: 1.2rem 0;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

.vehicle-details img {
  max-width: 80%;
  border: solid 1px var(--light-color);
  background-color: var(--dark-color);
  padding: 5px;
}

.vehicle-details .info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  width: 80%;
}

.vehicle-details .info span {
  color: var(--light-color);
}

/* NAVBAR... */
header {
  position: sticky;
  z-index: 1;
  top: 0;
  opacity: 0.9;
  background: var(--dark-color);
  border-bottom: solid 1px var(--secondary-color);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

nav {
  padding: 0 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

nav ul li.logo img {
  width: 2rem;
  height: 2rem;
}

nav ul li.logo a {
  color: var(--secondary-text-color);
}

nav ul li.toggle {
  order: 1;
}

nav ul li.menu-item {
  display: none;
  width: 100%;
  text-align: center;
  order: 2;
}

nav ul li a {
  display: block;
  padding: 0.4rem 0.4rem;
  color: var(--secondary-text-color);
}

nav ul li a:hover,
nav ul li a.active {
  color: #e767c9;
  font-weight: 600;
}

nav ul li.logo a:hover {
  color: #e767c9;
}

nav ul:has(li .menu-btn:checked) .menu-item {
  display: block;
}

/* Draw the hamburger menu */
nav ul li .menu-btn {
  display: none;
}

nav ul li .menu-icon {
  padding: 28px 20px;
  cursor: pointer;
}

nav ul li .menu-icon .nav-icon {
  background-color: var(--secondary-text-color);
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background-color 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before,
nav ul li .menu-icon .nav-icon:after {
  background-color: var(--secondary-text-color);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

nav ul .menu-icon .nav-icon:before {
  top: -5px;
}

nav ul li .menu-icon .nav-icon:after {
  top: 5px;
}

/* Animate the hamburger menu */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  nav ul {
    align-items: center;
    flex-wrap: nowrap;
  }

  nav ul li.menu-item {
    display: block;
    width: auto;
  }

  nav ul li.logo {
    flex: 1;
  }

  nav ul li.toggle {
    display: none;
  }
}
