/* Mobile first... */
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.card {
  border: solid 1px #f4f4f4;
  color: #f4f4f4;
  background-color: #333;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
  min-width: 250px;
}

.card img {
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  object-fit: cover;
  background-position: center;
  border: solid 1px #333;
  border-radius: 2rem;
  cursor: pointer;
}

.card p {
  text-align: center;
  position: relative;
  top: -50px;
  background: #333;
  max-width: 80%;
  margin: auto;
  padding: 0.3rem 0;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
