@import './site.css';

.details {
  margin: 3rem 1rem;
}

.details section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  background: #004d40;
  padding: 2rem 0;
  color: #f4f4f4;
  border-radius: 0.8rem;
  border: solid 1px #f4f4f4;
}

.details img {
  max-width: 80%;
  border: solid 1px #f4f4f4;
  background-color: #000;
  padding: 5px;
}

.details div {
  width: 80%;
}

.details div p {
  color: #ef6c00;
}

.details div p span {
  color: #f4f4f4;
}
