@import './navigation.css';

/* Mobile first... */
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #00796b;
}

main {
  padding: 3rem 2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
}

.page-title {
  text-align: center;
  background: #004d40;
  color: #ef6c00;
  padding: 0.5rem 0;
  border: solid 1px #f4f4f4;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.6);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(
    0deg,
    #0d0860 0%,
    #090979 21%,
    #0654aa 51%,
    #00ff71 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .flex-container h1 {
    font-size: 5rem;
  }
}
